html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #808080;
}

body {
  height: 100%;
  width: 100%;
  font-family: courier;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  font-size: 18px;
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
}
header nav {
  padding: 0;
  margin: 0;
}
header nav ul {
  text-align: justify;
  margin: 0;
  padding: 32px 16px 0 16px;
}
header nav ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}
header nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0 4px;
}
header nav ul li a {
  text-decoration: none;
  margin: 0;
}
header nav ul li a:link, header nav ul li a:visited {
  color: #222222;
}
header nav ul li a:hover, header nav ul li a:active {
  color: #AAAAAA;
}

#notop {
  padding-top: 32px;
}

#home {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 250px 0;
}

#snakeCanvas {
  margin-top: 100px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sortingCanvas {
  margin-top: 100px;
  display: inline-block;
  width: 80%;
  height: 50%;
}

#sortingControls {
  text-align: justify;
  padding: 32px;
}

#sortingControls:after {
  content: '';
  display: inline-block;
  width: 100%;
}

input {
  font-family: "courier";
}

select {
  font-family: "courier";
}

.sortingControlItem {
  display: inline-block;
  text-align: center;
  margin: 0;
}

.sortingControlItem input {
  margin: 0;
}

.sortingControlItem input, .sortingControlItem select {
  background-color: #AAAAAA;
  border-radius: 4px;
  border: 1px solid black;
}

.sortingControlItem input:focus, .sortingControlItem select:focus {
  background-color: #CCCCCC;
  border: 2px solid black;
  outline: none;
}

#sortButton {
  font-size: 24px;
}

#sortButton:focus {
  background-color: #AAAAAA;
  border-radius: 4px;
  border: 1px solid black;
}

#numElements {
  width: 48px;
}

#home a {
  text-decoration: none;
  margin: 0;
}

#home a:link, #home a:visited {
  color: #000000;
}
#home a:hover, #home a:active {
  color: #555555;
}